.movieCard {
  color: #333;
  background: white;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  text-align: left;
  transition: all 200ms;
  border: 1px solid #333;
  border-width: 0px 2px 2px 0px;
}

.movieCard:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.cardImage {
  width: 185px;
  height: 283px;
  display: block;
  flex: 0 0 auto;
}

.cardTitle {
  font-family: Lato, sans-serif;
  color: #333;
  font-size: 17.6px;
  font-weight: 600;
}

.releaseDate {
  font-size: 15px;
  font-weight: 500;
}

.cardDetails {
  padding: 20px;
}

.cardOverview {
  font-size: 16px;
  margin-top: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.6;
}
